#忽略IDEA配置文件夹
.idea


#忽略所有的target文件夹
taotao-parent/**/target

#忽略 .iml
*.iml
*.iml
*.iml
target
*.iml
target
target
*.iml
target
*.project
*.classpath
*.project
*.classpath
/taotao-parent/generatorSqlmapCustom/bin
/taotao-parent/generatorSqlmapCustom/lib
.settings
.settings
*.classpath
*.project
.settings
.svn
